<h1>Garrett Home Improvement Inc.</h1>

<p> A family-owned construction company with over 10 years of experience in both commercial and residential renovation.</p>

<div>
    <img src="HomePageMainPhotoKitchen.jpeg" alt="Kitchen Renovation" class="center">
</div>
