<h1>Welcome to Garrett Home Improvement Inc. Client Portal</h1>

<h2>Hello, <%= @client.first_name %></h2>

<%= link_to "Set up an Appointment", new_client_appointment_path(@client), method:'get' %> | 


